body{
    background-color: var(--body--);
    position: fixed;
    width: 100%;
    height: 100vh;
}
.header{
    z-index: 12;
    justify-content: space-around;
    box-shadow: 0 4px 4px var(--opacity-3--);
    background-color: var(--body--);
    display: flex;
    align-items: center;
    padding: 0 22px;
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--opacity-1--);
}
.logo{
    position: relative;
}
.logo h2{
    color: var(--branca--);
}
.logo h2 span{
    color: var(--border-color--);
}
.cardLink{
    margin-left: 120px;
    display: flex;
    align-items: center;
    gap: 22px;
}
.cardLink a{
    padding: 5px 0;
    position: relative;
    display: flex;
    align-items: center;
    gap:5px;
    font-weight: bold;
    color: var(--branca--);
    transition: all .3s ease-in;
}
.cardLink a i{
    position: relative;
}
.cardLink a:nth-of-type(1):hover i{
    transform: rotate(360deg);
    color: var(--border-color--);
    transition: all .3s ease-in;
}
.cardLink a:nth-of-type(2):hover i{
    transform: rotate(360deg);
    color: var(--verde--);
    transition: all .3s ease-in;
}
.cardLink a:nth-of-type(3):hover i{
    transform: rotate(360deg);
    color: var(--red--);
    transition: all .3s ease-in;
}
.cardSearch{
    position: relative;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.cardSearch input{
    width: 300px;
    height: 40px;
    border-radius:  var(--radius-1--) 0 0 var(--radius-1--) ;
    border: 1px solid var(--opacity-3--);
    background-color: var(--body--);
    padding: 0 12px;
    outline: none;
    transition: all .2s ease-in;
}
.cardSearch input:focus{
    background-color: var(--branca--);
}
.cardSearch button{
    background-color: var(--border-color--);
    border: none;
    border-radius: 0 var(--radius-1--)  var(--radius-1--) 0;
    height: 40px;
    width: 40px;
}
#form{
    display: block;
}
#label{
    display: none;
    gap: 12px;
    color: var(--branca--);
    margin-left: 100px;
    align-items: center;
    position: absolute;
}
.cardSms{
    gap: 44px;
    display: flex;
    align-items: center;
}
.cardSms a{
    position: relative;
    color: #fff;
    font-weight: 500;
}
.cardSms a span{
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: 25px;
    padding: 3px;
    text-align: center;
    background-color: var(--red--);
    border-radius: var(--radius-100--);
}
.toogle{
    margin-left: 44px;
}
.toogle button{
    cursor: pointer;
    color: var(--branca--);
    border: none;
    background-color: transparent;
}
.toogle button i{
 transition: all .2s ease-in;
}
.toogle button:hover i{
color: var(--border-color--);
}
.toogle button i{ 
    background-color: transparent;
    border-radius: var(--radius-1--);  
    font-size: 22pt;    
}
.container{
    display: flex;
    gap: 22px;
    align-items: center;
}
.left{
    border: 2px solid var(--border-color----);
    padding: 50px 3px;
    background-color: #fff;
    width: 350px;
    height: 100vh;
    border-left: 1px solid var(--opacity-1--);
    display: block;

}.left.active{
    display: block;
    animation-name: caming;
    animation-duration: 0.5s;;
}
@keyframes caming {
    from{
        opacity: 1;
        transform: translateX(-12px);
    }
    top{
        opacity: 1;
        transform: translateX(0);
    }
}

.left .closeCard{
position: relative;
width: 100%;
height: 44px;
padding: 12px 0;
border-bottom: 1px solid var(--opacity-2--);
}
.left .closeCard button{
    background-color: transparent;
    border: none;
    color: var(--text-color--);
    font-weight: bold;
    position: absolute;
    right: 20px;
    text-shadow: 0 4px 4px var(--opacity-1--);
}
.left .cardOption{
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.sectionCard{  
    margin-left: 22px;
    border-radius: 20px 0 0 0; 
    margin-top: 100px;
    background-color: var(--body--);
    border: 1px solid var(--opacity-3--);
    width: 100%;
    height: 95vh;
}
